section.advertising-radio
  .container
    .advertising-radio-item.row
      .col-md-6.col-lg-5
        .advertising-radio--title.mb-2.mb-md-0 Будемо раді співпраці з вами !!!
      .col-md-6.col-lg-4
        a(href='#' data-toggle="modal" data-target="#advertising-modal").get-advertising.mb-0 Замовити рекламу на радіо