section.advertising-radio
  .container
    .advertising-radio-item
      .advertising-radio--title Будемо раді співпраці з вами !!!
      a(href='#' data-toggle="modal" data-target="#advertising-modal").get-advertising Замовити рекламу на радіо