section.banner
  .container
     .banner-items
       h2.banner-title Потрібна найдешевша, найшвидша та найефективніша реклама ?
       a(href='#' data-toggle="modal" data-target="#advertising-modal").get-advertising Замовити рекламу на радіо
       .banner-avatar-header
         .banner-avatar
           img(src='./img/header-image-1.jpg')
         .banner-avatar
           img(src='./img/header-image-2.jpg')
         .banner-avatar
           img(src='./img/header-image-3.jpg')