section.banner
  .container
     .banner-items
       .row
         .col-lg-7
           h2.banner-title Потрібна найдешевша, найшвидша та найефективніша реклама ?
       .row
         .col-md-6.col-lg-4
           a(href='#' data-toggle="modal" data-target="#advertising-modal").get-advertising Замовити рекламу на радіо
       .banner-avatar-header
         .banner-avatar.first-position
           img(src='./img/header-image-1.jpg').img-fluid
         .banner-avatar.second-position
           img(src='./img/header-image-3.jpg').img-fluid
         .banner-avatar.third-position
           img(src='./img/header-image-2.jpg').img-fluid