section.our-works
  .container
    .our-works--title Деякі наші роботи:
    .row
      .col-md-12.col-lg-8
        .row
          .col-md-6
            .our-work.halloween
              .our-work-info
                img(src='./img/example1.jpg')
                .our-work-name Євробазар - Halloween 2018
              .our-work-audio
                audio.player(controls='')
                  source(src='./audio/ria_7271_Євробазар_Halloween_2018.mp3', type='audio/mp3')
          .col-md-6
            .our-work.advertising
              .our-work-info
                img(src='./img/example2.jpg')
                .our-work-name Світ саун - реклама магазину
              .our-work-audio
                audio.player(controls='')
                  source(src='./audio/ria_7444_Світ_саун-12_18_джингл.mp3', type='audio/mp3')
          .col-md-6
            .our-work.scanmix
              .our-work-info
                img(src='./img/example4.jpg')
                .our-work-name Scanmix - реклама магазину
              .our-work-audio
                audio.player(controls='')
                  source(src='./audio/ria_7766_Сканмикс_диалог_32_грн.mp3', type='audio/mp3')
          .col-md-6
            .our-work.eurofinance
              .our-work-info
                img(src='./img/example5.jpg')
                .our-work-name Єврофінанс - реклама ломбарду
              .our-work-audio
                audio.player(controls='')
                  source(src='./audio/ria_8123_Єврофінанс_04-06_07_19_Чорновола.mp3', type='audio/mp3')

      .col-md-6.col-lg-4
        .our-work.old-fortress
          img(src='./img/example3_2.jpg').img-fluid
          .our-work-info
            img(src='./img/example3_1.jpg')
            .our-work-name Стара Фортеця - реклама фустивалю
          .our-work-audio
            audio.player(controls='')
              source(src='./audio/ria_7982_Стара_Фортеця_2019.mp3', type='audio/mp3')

      .col-md-6.col-lg-4
        .our-work.fresh-wind
          .our-work-info
            img(src='./img/example6.jpg')
            .our-work-name Свіжий вітер - магазин меблів
          .our-work-audio
            audio.player(controls='')
              source(src='./audio/ria_8160_СВ_джингл_до_15_08_19.mp3', type='audio/mp3')
      .col-md-6.col-lg-4
        .our-work.mrs
          .our-work-info
            img(src='./img/example7.jpg')
            .our-work-name Пані - реклама магазину
          .our-work-audio
            audio.player(controls='')
              source(src='./audio/ria_8173_Пані 07_19_Інту.mp3', type='audio/mp3')
      .col-md-6.col-lg-4
        .our-work.polymin
          .our-work-info
            img(src='./img/example8.jpg')
            .our-work-name Полімін - реклама магазину
          .our-work-audio
            audio.player(controls='')
              source(src='./audio/ria_8175_Полімін_Суми_1.mp3', type='audio/mp3')