section.price-table
  .container
    h4.price-table--title ТОВ  “Суми медіа сервіс” до ваших послуг !!!
      br
      | Реклама на найпопулярніших ФМ-станціях в Сумах
    p Вартість 1 сек. реклами в грн.,  без ПДВ
    .price-table-items
      .price-table-item
        .price-table__logo
          img(src='./img/roks_logo.png').img-fluid
        .price-table__frequency 89,1 МГц
        .price-table__price
          .time 6:59 - 10:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 10:59 - 12:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 12:59 - 15:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 15:59 - 17:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 17:59 - 19:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 19:59 - 6:59
          .price 3,5
            span грн./1сек.
      .price-table-item
        .price-table__logo
          img(src='./img/kraina-logo.png').img-fluid
        .price-table__frequency 100,8 МГц
        .price-table__price
          .time 6:59 - 10:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 10:59 - 12:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 12:59 - 15:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 15:59 - 17:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 17:59 - 19:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 19:59 - 6:59
          .price 3,5
            span грн./1сек.
      .price-table-item
        .price-table__logo
          img(src='./img/melodia_logo.png').img-fluid
        .price-table__frequency 101,4 МГц
        .price-table__price
          .time 6:59 - 10:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 10:59 - 12:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 12:59 - 15:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 15:59 - 17:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 17:59 - 19:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 19:59 - 6:59
          .price 3,5
            span грн./1сек.
      .price-table-item
        .price-table__logo
          img(src='./img/hitfm_logo.png').img-fluid
        .price-table__frequency 103,4 МГц
        .price-table__price
          .time 6:59 - 10:59
          .price 5,0
            span грн./1сек.
        .price-table__price
          .time 10:59 - 12:59
          .price 6,0
            span грн./1сек.
        .price-table__price
          .time 12:59 - 15:59
          .price 5,0
            span грн./1сек.
        .price-table__price
          .time 15:59 - 17:59
          .price 6,0
            span грн./1сек.
        .price-table__price
          .time 17:59 - 19:59
          .price 5,0
            span грн./1сек.
        .price-table__price
          .time 19:59 - 6:59
          .price 2,0
            span грн./1сек.
      .price-table-item
        .price-table__logo
          img(src='./img/relax_logo.png').img-fluid
        .price-table__frequency 105,1 МГц
        .price-table__price
          .time 6:59 - 10:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 10:59 - 12:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 12:59 - 15:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 15:59 - 17:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 17:59 - 19:59
          .price 3,5
            span грн./1сек.
        .price-table__price
          .time 19:59 - 6:59
          .price 3,5
            span грн./1сек.
      .price-table-item
        .price-table__logo
          img(src='./img/rusradio_logo.png').img-fluid
        .price-table__frequency 105,6 МГц
        .price-table__price
          .time 6:59 - 10:59
          .price 4,0
            span грн./1сек.
        .price-table__price
          .time 10:59 - 12:59
          .price 4,0
            span грн./1сек.
        .price-table__price
          .time 12:59 - 15:59
          .price 4,0
            span грн./1сек.
        .price-table__price
          .time 15:59 - 17:59
          .price 4,0
            span грн./1сек.
        .price-table__price
          .time 17:59 - 19:59
          .price 4,0
            span грн./1сек.
        .price-table__price
          .time 19:59 - 6:59
          .price 4,0
            span грн./1сек.
    ul
      li - розміщення ролика першим або останнім в блоці + 25 %
      li - розміщення ролика у фіксованому блоці + 10% (у грудні +20%)
      li - сезонна націнка у період  15.11 – 31.12 - +20%
