section.price-info
  .container
    .row
      .col-lg-8
        .price-info-item
          h3.price-info--title Виготовлення рекламної аудіопродукції
        .table-responsive
          table.table
            thead
              tr
                th(scope='col') Категорія складності
                th(scope='col') Вартість, грн.
            tbody
              tr
                td Сценарій, текст
                td від 50 грн.
              tr
                td I категорія – дикторський голос без музики
                td від 200 грн.
              tr
                td II категорія – дикторський голос з музикою
                td від 250 грн.
              tr
                td III категорія – 2-3 голоси, ефекти
                td від 300 грн.
              tr
                td IV категорія – оригінальный ігровий (розробка авторського сценарію, 2-3 голоси, ефекти)
                td від 350 грн.
              tr
                td V категорія – оригінальний пісенний ролик
                td від 1 000 грн.
              tr
                td Зміни, редакція готового ролику
                td від 80 грн.
