section.price-info
  .container
    .row
      .col-lg-8
        .price-info-item
          h3.price-info--title Виготовлення рекламної аудіопродукції
          .price-info-table
            .price-info-table--items
              .price-info-table--header Категорія складності
              .price-info-table--header Вартість, грн.
            .price-info-table--item
              .category Сценарій, текст
              .price від 50 грн.
            .price-info-table--item
              .category I категорія – дикторський голос без музики
              .price від 200 грн.
            .price-info-table--item
              .category II категорія – дикторський голос з музикою
              .price від 250 грн.
            .price-info-table--item
              .category III категорія – 2-3 голоси, ефекти
              .price від 300 грн.
            .price-info-table--item
              .category IV категорія – оригінальный ігровий (розробка авторського сце.priceрію, 2-3 голоси, ефекти)
              .price від 350 грн.
            .price-info-table--item
              .category V категорія – оригінальний пісенний ролик
              .price від 1 000 грн.
            .price-info-table--item
              .category Зміни, редакція готового ролику
              .price від 80 грн.
