.price-info {
  background: url('../img/bg-price.jpg') top right;
  padding: 50px 0 70px;
  &-item {
    background: $color_white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 30px 40px 50px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 30px;
      left: 0;
      width: 4px;
      height: 100px;
      background: $color_btn;
    }
  }
  &--title {
    font-family: $font_light;
    font-size: 28px;
    line-height: 38px;
    color: $color_txt;
    margin-bottom: 30px;
  }
  &-table {
    &--item {
      display: flex;
      align-items: baseline;
      font-family: $font_main;
      background: $color_grey;
      padding: 10px 20px;
      border-radius: 6px;
      font-size: 18px;
      line-height: 26px;
      color: $color_txt;
      .category {
        width: 100%;
        margin-right: 20px;
      }
      .price {
        font-size: 24px;
        line-height: 33px;
        font-family: $font_light;
        min-width: 152px;
      }
      &s {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-family: $font_main;
      }
      &:nth-of-type(odd) {
        background: $color_white;
      }

    }
    &--header {
      font-size: 18px;
      line-height: 25px;
      color: $color_txt2;
      margin-bottom: 10px;
      min-width: 172px;
    }
  }
}

@include adapt_to('large-phone') {
  .price-info {
    &--title {
      font-size: 20px;
      line-height: normal;
    }
    &-item {
      padding: 15px 25px;
      &::before {
        top: 20px;
        height: 125px;
      }
    }
    &-table {
      &--item {
        flex-direction: column;
        &s {
          flex-direction: column;
          margin-bottom: 15px;
        }
      }
      &--header {
        margin-bottom: 0;
      }
    }
  }
}