.top-item {
  position: relative;
  min-height: 660px;
  background: linear-gradient(180deg, #8ED774 0%, #1EA059 100%);
  &::after {
    content: '';
    background: url('../img/header-bg.png') top no-repeat;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
  }
  @media (max-width: 576px) {
    min-height: 595px;
    &::after {
      display: none;
    }
  }
}