.header {
  &-item {
    padding-top: 50px;
    padding-bottom: 25px;
    position: relative;
    z-index: 3;
    .info {
      color: $color_white;
      font-size: $size_link_font;
      line-height: 36px;
      font-family: $font_light;
      text-align: right;
      @include adapt_to('large-phone') {
        font-size: 18px;
      }
    }
    .mail-info {
      color: $color_white;
      transition: .3s;
      &:hover {
        color: $color_btn;
        text-decoration: none;
      }
    }
  }
  &-logo {
    max-width: 286px;
    height: 65px;
    width: 100%;
    display: block;
    .icon {
      width: 286px;
      height: 65px;
      fill: $color_white;
    }
  }
}
@media (max-width: 575px) {
  .header{
    &-item {
      padding-top: 20px;
      padding-bottom: 5px;
      .info {
        margin: 10px auto 0;
        text-align: center;
      }
    }
    &-logo {
      margin: auto;
    }
  }
}