.container
  header
    .row.flex-md-nowrap.justify-content-between.align-items-center.header-item
      .col-md-6.col-lg-4.col-sm-6
        a.header-logo.text-dark(href='#')
          +sprite('icon', 'sms-logo')
      .col-md-6.col-lg-5.col-sm-6.d-flex.justify-content-end.align-items-center
        .info
          .phone-info 0542 655 345, 050 307 1271
          a(href='mailto:fmvsumah@gmail.com').mail-info fmvsumah@gmail.com
