script(src="./js/main-libs.min.js")
//script(src="./js/libs.min.js")
script(src="./js/main.min.js")
//script(src='https://www.google.com/recaptcha/api.js', async='', defer='')
script(src='./js/plyr.js')