@keyframes openSearchField {
  30% {
    border-radius: 4px;
  }
  100% {
    width: 300px;
    height: 34px;
    border-radius: 4px;
  }
}

@keyframes showSearchSubmit {
  100% {
    width: auto;
    padding: 5px 8px;
    opacity: 1;
  }
}

.default-blue,
.default-green {
  color: $color_white;
  padding: 9px 15px;
  min-width: 160px;
  border-radius: 24px;
  font-family: $font_bold;
  font-size: $size_link_font;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  position: relative;
  z-index: 1;
  text-align: center;
  &:hover {
    background: $color_white;
    text-decoration: none;
  }
}

.default-green {
  background: $color_selected;
  border: 1px solid $color_selected;
  &:hover {
    color: $color_selected;
  }
}

.default-dashed {
  width: 160px;
  height: 24px;
  color: $color_darkblue;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed $color_border;
  border-radius: 19px;
  background: $color_white;
  transition: .3s;
  text-align: center;
  &:hover {
    background: $color_border;
    text-decoration: none;
    color: $color_white;
  }
}

.border-link {
  position: relative;
  z-index: 1;
  min-width: 160px;
  padding: 9px 30px;
  border: 1px solid #BAC1CC;
  border-radius: 19px;
  font-size: $size_link_font;
  line-height: 19px;
  font-family: $font_main;
  color: $color_description;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  &:hover {
    border-color: $color_selected;
    background: $color_selected;
    color: $color_white;
    text-decoration: none;
  }
}

.default-blue {
  background: $color_underline;
  border: 1px solid $color_underline;
  &:hover {
    color: $color_underline;
  }
}

.green-border {
  border: 1px solid $color_selected;
}

.blue-border {
  border: 1px solid $color_underline;
}

.default-grey {
  color: $color_description !important;
  border: 1px solid $color_border !important;
  &:hover {
    background: $color_border !important;
  }
}

.reset-btn {
  width: 100%;
  background: #E7EBEE;
  border-radius: 24px;
  color: $color_description;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font_bold;
  font-size: $size_link_font;
  line-height: 19px;
  padding: 9px 15px;
  border: 1px solid #E7EBEE;
  text-align: center;
  &:hover {
    &:hover {
      background: $color_border;
      text-decoration: none;
      color: $color_description;
    }
  }
}