/* fonts */
$font_light: 'OpenSans-Light';
$font_main: 'OpenSans-Regular';
$font_bold: 'OpenSans-Bold';

/* font sizes*/
$size_smaller_font: 10px;
$size_small_font: 12px;
$size_main_font: 14px;
$size_link_font: 24px;
$size_title_font: 20px;
$size_title_description_font: 30px;
$size_title_big_font: 36px;

/* color */
$color_grey: #F4F6F2;
$color_txt: #263238;
$color_txt2: #78909C;
$color_green: #38AC60;
$color_bord: #425B67;
$color_footer: #293B44;
$color_error: #EB5757;
$color_btn: #FFA000;
$color_white: #fff;